@import "tailwindcss";
@import "./theme.css";

html,
body {
  background-color: var(--color-bg-cream);
  color: var(--color-ink);
  font-family: var(--font-body);
}

body {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
